<div class="container">
  <div class="row py-5">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h1 class="text-center">Lista de avaliações <span *ngIf="evaluationsList.length" class="badge badge-primary">{{evaluationsList.length}}</span></h1>
        </div>
        <div class="card-body">
          <ng-container *ngIf="loading; else elseTemplate">
            <div class="d-flex justify-content-center">
              <div class="spinner-border" role="status">
                <span class="sr-only">Loading</span>
              </div>
            </div>
          </ng-container>
          <ng-template #elseTemplate>
            <ng-container *ngIf="evaluationsList.length; else elseTemplate">
              <div class="row">
                <div class="col-4">
                  <p class="h5">Ítens por página:</p>
                  <nav>
                    <ul class="pagination justify-content-start">
                      <li
                        class="page-item"
                        [ngClass]="{'active': paginationInfo.itemsPerPage === 10}"
                      >
                        <button
                          class="page-link"
                          (click)="setItemsPerPage(10)"
                        >
                          10
                        </button>
                      </li>
                      <li
                        class="page-item"
                        [ngClass]="{'active': paginationInfo.itemsPerPage === 15}"
                      >
                        <button
                          class="page-link"
                          (click)="setItemsPerPage(15)"
                        >
                          15
                        </button>
                      </li>
                      <li
                        class="page-item"
                        [ngClass]="{'active': paginationInfo.itemsPerPage === 20}"
                      >
                        <button
                          class="page-link"
                          (click)="setItemsPerPage(20)"
                        >
                          20
                        </button>
                      </li>
                    </ul>
                  </nav>
                </div>
                <div class="col-4">
                  <p class="h5">Mostrar avaliações repetidas:</p>
                  <nav>
                    <ul class="pagination justify-content-start">
                      <li
                        class="page-item"
                        [ngClass]="{'active': showRepeatedEvaluationsOnList}"
                      >
                        <button
                          class="page-link"
                          (click)="switchEvaluationShowList(true)"
                        >
                          Sim
                        </button>
                      </li>
                      <li
                        class="page-item"
                        [ngClass]="{'active': !showRepeatedEvaluationsOnList}"
                      >
                        <button
                          class="page-link"
                          (click)="switchEvaluationShowList(true)"
                        >
                          Não
                        </button>
                      </li>
                    </ul>
                  </nav>
                </div>
                <div *ngIf="mostRepeatedEvaluation" class="col-4">
                  <p class="h5">Avaliação mais vezes repetida:</p>
                  <p class="h4 text-left">
                    {{ mostRepeatedEvaluation.id }}: {{ mostRepeatedEvaluation.name }}
                    <span  class="badge badge-primary">{{ mostRepeatedEvaluation.counter }} vezes</span>
                  </p>
                </div>
              </div>
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th *ngFor="let column of headers" scope="col">{{ column }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let eva of pageEvaluations">
                    <th scope="row">{{ eva.id }}</th>
                    <td>{{ eva.name }}</td>
                  </tr>
                </tbody>
              </table>
              <div class="row">
                <div class="col-8 offset-2">
                  <nav>
                    <ul class="pagination justify-content-center">
                      <li
                        class="page-item"
                        [ngClass]="{'disabled': paginationInfo.currentPage === 1}"
                      >
                        <button
                          class="page-link disabled"
                          [disabled]="paginationInfo.currentPage === 1"
                          (click)="previousPage()"
                        >
                          Página anterior
                        </button>
                      </li>
                      <li
                        *ngFor="let page of paginationInfo.availablePages"
                        class="page-item"
                        [ngClass]="{'disabled': paginationInfo.currentPage === page}"
                      >
                        <button
                          class="page-link"
                          [disabled]="paginationInfo.currentPage === page"
                          (click)="goToPage(page)"
                        >
                          {{ page }}
                        </button>
                      </li>
                      <li
                        class="page-item"
                        [ngClass]="{'disabled': paginationInfo.currentPage === paginationInfo.totalPages}"
                      >
                        <button
                          class="page-link"
                          [disabled]="paginationInfo.currentPage === paginationInfo.totalPages"
                          (click)="nextPage()"
                        >
                          Próxima página
                        </button>
                      </li>
                    </ul>
                  </nav>
                </div>
                <div class="pt-1 col-2">
                  Pagina {{ paginationInfo.currentPage }} de {{ paginationInfo.totalPages }}
                </div>
              </div>
            </ng-container>
            <ng-template #elseTemplate>
              <div class="alert alert-danger" role="alert">
                Não foi possível buscar as avaliações
              </div>
            </ng-template>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h1 class="text-center">Últimas 5 avaliações que não se repetem</h1>
    </div>
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th *ngFor="let column of headers" scope="col">{{ column }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let eva of lastFiveNonRepeatedEvaluationList">
            <th scope="row">{{ eva.id }}</th>
            <td>{{ eva.name }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
